<ion-header>
  <ion-toolbar
    mode="ios"
    color="primary"
  >
    <ion-buttons slot="start">
      <ion-button
        (click)="closeModal()"
        color="light"
        fill="clear"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Nuevo producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">
          Nombre o descripción del producto
        </ion-label>

        <ion-input
          formControlName="nombre"
          placeholder="Ingrese la descripción del producto"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>

        <ion-select
          formControlName="cantidad"
          interface="alert">
          <ion-select-option value="1">1</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button
      (click)="agregarProducto()"
      class="ion-padding-horizontal ion-margin-top"
      expand="block"
      [disabled]="productForm.invalid"
    >Agregar</ion-button>
  </form>
</ion-content>